.tips-wrapper {
    position: relative;
    display: flex;
        padding-top: 2rem;
    align-items: center;
}
.tips-list {
        padding-bottom: 8px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100%;
}
.tips-list::-webkit-scrollbar {
    display: none;
}
.tips-cards {
    display: flex;
    gap: 16px;
    flex-direction: row;
    padding: 8px 0;
}
.tip-card {
    min-width: 220px;
    max-width: 220px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-decoration: none;
    color: #333;
    transition: all 0.2s ease;
    flex-shrink: 0;
}
.tip-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}
.arrow {
 cursor: pointer;
    z-index: 10;
    bottom: 19rem;
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    transition: all .3s;
    position: absolute;
    display: flex;
    justify-content: center;
}
.arrow:hover {
    transform: scale(1.1);
}
.arrow.left {
    left: -10px;
}
.arrow.right {
    right: -10px;
}
.tip-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.tip-content{
    padding: 12px;
}
.tip-content h4 {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 600;
}
.tip-content p {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
}