.favorite-section {
    padding: 10px;
}
h1 {
    display: flex;
    justify-content: center;
}
@media(max-width: 768px) {

    .favorite-section .recommended-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    padding: 12px;
            margin-bottom: 7rem;
    grid-auto-flow: row;
}
}
