.payment-page {
    max-width: 420px;
    margin: auto;

    padding: 24px;
    padding-bottom: 184px;
}
.payment-page h1 {
    display: flex;
 
    justify-content: center;
}
.secure {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}
.payment-form input,
.payment-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
}
.payment-form select{
        width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    background-color: transparent;
    border-radius: 20px;
    color: #1d5f27;
    cursor: pointer;
    font-weight: 700;
}
.pay-btn {
padding:23px 63px;
color:white;
background-color: #388e4a;
border-radius: 13px;
font-size: 16px;
font-weight: 700;
border: none;
margin: 20px auto;
cursor: pointer;
transition: all 0.5s ease;
display: flex;
justify-content: center;
flex-direction: column;
}
.pay-btn:hover {
    background-color: transparent;
    color: #2e8b57;
    border: 1px solid #2e8b57;

}