.plant-detail {
       max-width: 600px;
    margin: 0px auto 146px auto;
    padding: 16px;
        display: flex;
    flex-direction: column;
    align-items: center;
}
.plant-content {
    background-color: white;
        z-index: -2;
    width: 71rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
        margin-top: 54px;
    width: 53rem;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
}
.plant-image {
    width: 100%;
    border-radius: 34px;
}
.plant-detail h1 {
        font-weight: 100;
    color: #388e4a;
    margin: 0;
    font-size: 3rem;
}
.description {
        color: #575454;
}
.plant-info {
      gap: 16px;
    background-color: white;
    border: 1px solid #1d5f27;
    padding: 24px 20px;
    border-radius: 14px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.plant-info li {
 align-items: center;
    gap: 8px;
    background-color: #1d5f2726;
    flex-direction: column;
    padding: 18px 0px;
    border: 1px solid #1d5f27;
    border-radius: 20px;
    color: #1d5f27;
    display: flex;
}
.buy-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

margin-top:28px;
}

.price {
    font-size:37px;
    font-weight: bold ;
}
.buy-btn {
        align-items: center;
    text-align: center;
    background-color: #1d5f27;
    padding: 20px 69px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border: none;
    transition: background-color 0.5s ease;
}
.buy-btn:hover {
    background-color: #60b06c60;
}